body{
    display: flex;
    justify-content: center;
    color: #1c1e21;
    align-content: center;
}

.container{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 155px;
    left: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 370px;
    height: 335px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.box input{
    padding: 0.7rem;
    width: 265px;
    text-align: center;
    margin: 10px;
}
.box {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px
    
}
.btn{
    background-color: #1877f2;
    color: white;
    width: 292px;
    margin: 5px;
    padding: 0.9rem 0rem;
    border: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
}
button{
    margin: 5px;
    border-radius: 3px;
}
#btn{
    color: blue;
    border: none;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Bree Serif', serif; */
}
#btns{
    background-color: rgb(54, 207, 54);
    color: white;
    border: none;
    margin: 10px;
    padding: 0.5rem;
    width: 170px;
}
.about{
    position: absolute;
    top: 250px;
    left: 34px;
    padding: 0px;
    display: block;
    font-size: 1.5em;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    width: 610px;
    line-height: 5px;
}
.about h3{
    font-size: 50px;
}