body{
    font-family: 'Kanit', sans-serif;
 
} 
h1{
    background-color: rgb(196, 59, 255);
    text-align: center;
}
#nav{
    display: flex;
    background-color: rgb(123, 0, 255);
}
#nav ul{
    display: flex;
    margin: auto;
}
#nav ul li{
    display: flex;
    margin: 10px;
    /* background-color: rgb(255, 0, 0); */
    list-style: none;
    cursor: pointer;
    padding: 5px;
}
#nav ul li a{
    text-decoration: none;
    color: black;
}
#nav ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: rgba(0, 180, 126, 0.968);
    display: block;
    margin: auto;
    transition: 0.3s;
}
#nav ul li a:hover::after{
    width: 100%;
}
#nav ul li a:hover,
#nav ul li a.active{
    color: rgba(0, 180, 126, 0.968);
}
.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 8px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.form h2{
    text-align: center;
    margin: 2px;

}
.form input{
    margin: 3px;
    height: 30px;
}
.form button{
    margin: auto;
    width: 75px;
}
table{
    margin: auto;
}
table,td {
    border: 1px solid black;
}